<%= simple_form_for(@mix) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, as: :hidden %>
    <%= f.input :author, as: :hidden %>
    <%= f.input :image, as: :hidden %>
    <%= f.input :url, hint: 'Enter a link to your mix of the month...', :label => false, :placeholder => 'e.g. http://i.mixcloud.com/CCaDWK' %>
  </div>


    <%= f.button :submit, :value => "Add Mix" %>

<% end %>
