

<h1>
	<p class="pull-left">
  <%= image_tag @mix.image, :width => "100px" %>
</p>
  <%= @mix.title %>
 <br/>
  <small>via <%= @mix.author %></small>
</h1>

<br/>

<section>
  <%= link_to "#{@mix.url}", @mix.url %>
</section>

<br/>

<% if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_mix_path(@mix) %>
<% end %>
